<html layout:decorate="~{layout.html}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<section layout:fragment="content">

    <div class="nav-scroller bg-white box-shadow">
        <div class="container">
            <nav class="nav nav-underline">
                <a class="nav-link disabled" href="javascript:void(0)">Sort By: </a>
                <a class="nav-link active" th:href="@{/users(page=${users.number}, size=${users.size}, sort='username,ASC')}">Username ASC</a>
                <a class="nav-link active" th:href="@{/users(page=${users.number}, size=${users.size}, sort='username,DESC')}">Username DESC</a>
            </nav>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <a th:href="@{/users/new}">Add new user</a>
        </div>

        <div class="row">
            <div th:each="user : ${users}" th:object="${user}"
                 class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span th:text="*{firstName}"></span>
                        <span th:text="*{lastName}"></span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="*{username}"></h6>
                    <p class="card-text" th:text="*{email}"></p>
                    <a th:href="@{/users/__*{id}__}" class="card-link">Show</a>
                    <a th:href="@{/users/__*{id}__/edit}" class="card-link">Edit</a>
                    <form th:action="@{/users/__*{id}__}" th:method="DELETE">
                        <button type="submit" class="btn btn-link card-link">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${users.number == 0} ? 'disabled'">
                        <a class="page-link" th:href="@{/users(page=${users.number - 1}, size=${users.size})}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${users.number == (index - 1)} ? 'active'"
                        th:each="index : ${#numbers.sequence(1, users.totalPages)}">
                        <a class="page-link" th:href="@{/users(page=${index-1}, size=${users.size})}" th:text="${index}"></a>
                    </li>
                    <li class="page-item" th:classappend="${users.number == (users.totalPages - 1)} ? 'disabled'">
                        <a class="page-link" th:href="@{/users(page=${users.number + 1}, size=${users.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</section>
</html>