<html layout:decorate="~{layout.html}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<section layout:fragment="content">

    <div class="container">

        <section class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="text-center">
                            <img src="https://www.drupal.org/files/issues/default-avatar.png" class="rounded" alt="Default avatar">
                        </div>
                    </div>
                    <div class="col-8" th:object="${user}">
                        <h1 class="jumbotron-heading">[[${user?.firstName}]] [[${user?.lastName}]]</h1>
                        <p class="lead text-muted" th:text="*{username}"></p>
                        <p class="lead text-muted" th:text="*{email}"></p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <a th:href="@{/users/__${user.id}__/memes/new}">Add new meme</a>
        </section>

        <section>
            <h3>Memes</h3>
            <div class="row">
                <div class="col-md-4" th:each="meme : ${memes}" th:object="${meme}">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" th:src="*{url}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text" th:text="*{description}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/users/__${user.id}__/memes/__${meme.id}__}" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </a>
                                    <a th:href="@{/users/__${user.id}__/memes/__${meme.id}__/edit}" class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </a>
                                </div>
                                <small class="text-muted" th:text="*{artist}"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${memes.number == 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/users/__${user.id}__/(page=${memes.number - 1}, size=${memes.size})}">Previous</a>
                        </li>
                        <li class="page-item" th:classappend="${memes.number == (index - 1)} ? 'active'"
                            th:each="index : ${#numbers.sequence(1, memes.totalPages)}">
                            <a class="page-link" th:href="@{/users/__${user.id}__/(page=${index-1}, size=${memes.size})}" th:text="${index}"></a>
                        </li>
                        <li class="page-item" th:classappend="${memes.number == (memes.totalPages - 1)} ? 'disabled'">
                            <a class="page-link" th:href="@{/users/__${user.id}__/(page=${memes.number + 1}, size=${memes.size})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

    </div>
</section>
</html>